.texto-menor{
    font-size: 13px;
}

.div-facilidades{
    width: 325px;
}

.div-novedades{
    width: 325px;
}

.btn{
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
}

@media(min-width:768px){
    .div-novedades{
        width: 696px;
    }
}